$ORIGIN {{ item.zone }}.
$TTL 86400
@    IN    SOA    {{ item.ns1 }}. {{ item.admin }}. (
                 {{ item.serial }} ; Serial
                 {{ item.refresh }}       ; Refresh
                 {{ item.retry }}       ; Retry
                 {{ item.expire }}     ; Expire
                 {{ item.ttl }}      ; Minimum TTL
                 )
@    IN    NS     {{ item.ns1 }}.
 
{% for server in config.zone.servers %}
{{ server.name }}  IN    A      {{ server.ip }}
{% endfor %}
