$ORIGIN {{ config.zone }}.
$TTL 86400
@    IN    SOA    {{ config.zone.ns1 }}. {{ domain_config.admin }}. (
                 {{ config.zone.serial }} ; Serial
                 {{ config.zone.refresh }}       ; Refresh
                 {{ config.zone.retry }}       ; Retry
                 {{ config.zone.expire }}     ; Expire
                 {{ config.zone.ttl }}      ; Minimum TTL
                 )
@    IN    NS     {{ config.zone.ns1 }}.
 
{% for server in config.zone.servers %}
{{ server.name }}  IN    A      {{ server.ip }}
{% endfor %}
